@import "../Layout/constants";

.loader {
  width: calc(100vw - $borderSize * 2);
  height: calc(100vh - $borderSize * 2 - $navHeight);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font: 2rem/3 var(--font-mono);
  color: var(--color-slate-light);
  img {
    height: 6rem;
    animation: bounce .5s ease-in-out infinite alternate;
    @keyframes bounce {
      from { transform: translateY(0) }
      to { transform: translateY(-2rem) }
    }
  }
}
